.ewk_cont_banner{
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/fondo.webp);
}

.ewk_sobra{
    position: absolute;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    padding: 20px;
    width: 80%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    margin: auto;
}

.ewk_sobra hr{
    border-top: 2px solid #fff;
}

.ewk_sobra h1{
    margin-bottom: 10px;
}

.ewk_sobra p{
    margin-bottom: 10px;
    color: rgba(252, 221, 104, 1);
}

.hidden{
    opacity: 0;
}

.ewk_cont_banner_link{
    margin: 15px;
    position: relative;
}

.ewk_cont_banner_link a{
    position: relative;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 1px;
    border-radius: 25px;
    margin: 5px;
    width: 150px;
}

.ewk_cont_banner_link a:hover{
    background-color: #fff;
    box-shadow: 0 0 10px 3px rgba(252, 221, 104, 1);
    transition: box-shadow 0.2s;
    color: rgba(252, 221, 104, 1);
    transition: all 0.5s
}

.ewk_banner_link{
    position: relative;
    opacity: 0;
    animation: ewk_keyframes_aparecer_izquierda 2s;
    -webkit-animation: ewk_keyframes_aparecer_izquierda 2s;
    animation-fill-mode: forwards;
}

.ewk_banner_link_1{
    position: relative;
    opacity: 0;
    animation: ewk_keyframes_aparecer_izquierda 2s;
    -webkit-animation: ewk_keyframes_aparecer_izquierda 2s;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
}

.ewk_banner_link_2{
    position: relative;
    opacity: 0;
    animation: ewk_keyframes_aparecer_izquierda 1s;
    -webkit-animation: ewk_keyframes_aparecer_izquierda 1s;
    animation-fill-mode: forwards;
    animation-delay: 1s ;
}

.ewk_navbar {
    background-color: rgba(255, 255, 255, 0.3) !important;
    backdrop-filter: blur(5px) !important;
}


.ewk_cont_footer{
    background-color: rgba(1, 1, 1, 0.7);
    padding: 10%;
    padding-top: 5%;
    padding-bottom: 2%;
    color: #fff;
}

.ewk_cont_footer a{
    color: #fff;
    text-decoration: none;
    display: block;
}

.ewk_cont_derechos{
    opacity: 0.1;
    text-align: center;
}

.nav-item a, .navbar-brand{
    color: rgba(252, 221, 104, 1) !important;
    text-shadow: -1px -1px 5px #000, -2px -2px 7px #555 !important;
    text-decoration: underline 2px rgba(252, 221, 104, 1);
}

.row hr{
    margin-top: 30px;
}

#primeraEtapa{
    margin-top: 50px;
    display: flex;
}

.icon-menu{
    color: rgba(252, 221, 104, 1);
}

.amarillo{
    color: rgba(255, 221, 104, 1)
}

#segundaEtapa{
    background-color: rgba(252, 221, 104, 1);
}

.separate{
    margin-top: 50px;
    width: 100%;
    height: 75px;
    background-color: rgba(252, 221, 104, 1);
}

.separate-2{
    width: 100%;
    height: 50px;
    background-color: rgba(252, 221, 104, 1);
}

#foto{
    border: 6px solid rgba(252, 221, 104, 1);
    border-radius: 200px;
    margin: auto 0px auto 5%;
    box-sizing: border-box;
    min-width: 150px;
    min-height: 150px;
    width: 250px;
    height: 250px;
    background-position-y: center;
    background-size: contain;
    background-repeat: no-repeat;
    box-shadow: -2px 2px 2px #555;
    background-image: url('https://media-exp1.licdn.com/dms/image/C4E03AQGHSTdgOSNW6A/profile-displayphoto-shrink_800_800/0/1633399057897?e=2147483647&v=beta&t=esh6w7vg9OKLQfleq9pXg8-e4x1NpADzcEUemuJlWf4');
}

#foto:hover{
    border: 5px solid rgba(252, 221, 104, 1);
    box-shadow: -3px 3px 2px #555;
}

.after{
    margin: auto;
}

#text{
    width: 65%;
}

.flex{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    flex-flow: wrap;
    width: 100%;
    height: auto;
}

@media screen and (max-width:993px) {

    #foto{
        margin: 0;
    }

    .flex{
        justify-content: center;
    }

    #text{
        width: 90%;
    }

    #centers{
        text-align: center;
    }
}