.ewk_cont_banner {
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/fondo.webp); }

.ewk_sobra {
  position: absolute;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 20px;
  width: 80%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  margin: auto; }

.ewk_sobra hr {
  border-top: 2px solid #fff; }

.ewk_sobra h1 {
  margin-bottom: 10px; }

.ewk_sobra p {
  margin-bottom: 10px;
  color: #fcdd68; }

.hidden {
  opacity: 0; }

.ewk_cont_banner_link {
  margin: 15px;
  position: relative; }

.ewk_cont_banner_link a {
  position: relative;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  border: 1px solid #fff;
  padding: 1px;
  border-radius: 25px;
  margin: 5px;
  width: 150px; }

.ewk_cont_banner_link a:hover {
  background-color: #fff;
  box-shadow: 0 0 10px 3px #fcdd68;
  transition: box-shadow 0.2s;
  color: #fcdd68;
  transition: all 0.5s; }

.ewk_banner_link {
  position: relative;
  opacity: 0;
  animation: ewk_keyframes_aparecer_izquierda 2s;
  -webkit-animation: ewk_keyframes_aparecer_izquierda 2s;
  animation-fill-mode: forwards; }

.ewk_banner_link_1 {
  position: relative;
  opacity: 0;
  animation: ewk_keyframes_aparecer_izquierda 2s;
  -webkit-animation: ewk_keyframes_aparecer_izquierda 2s;
  animation-fill-mode: forwards;
  animation-delay: 0.5s; }

.ewk_banner_link_2 {
  position: relative;
  opacity: 0;
  animation: ewk_keyframes_aparecer_izquierda 1s;
  -webkit-animation: ewk_keyframes_aparecer_izquierda 1s;
  animation-fill-mode: forwards;
  animation-delay: 1s; }

.ewk_banner_link_3 {
  position: relative;
  opacity: 0;
  animation: ewk_keyframes_aparecer_izquierda 1s;
  -webkit-animation: ewk_keyframes_aparecer_izquierda 1s;
  animation-fill-mode: forwards;
  animation-delay: 1.5s; }

.ewk_navbar {
  background-color: rgba(255, 255, 255, 0.3) !important;
  backdrop-filter: blur(5px) !important; }

.ewk_cont_footer {
  background-color: rgba(1, 1, 1, 0.7);
  padding: 10%;
  padding-top: 5%;
  padding-bottom: 2%;
  color: #fff; }

.ewk_cont_footer a {
  color: #fff;
  text-decoration: none;
  display: block; }

.ewk_cont_derechos {
  opacity: 0.1;
  text-align: center; }

.nav-item a, .navbar-brand {
  color: #fcdd68 !important;
  text-shadow: -1px -1px 5px #000, -2px -2px 7px #555 !important;
  text-decoration: underline 2px #fcdd68; }

.row hr {
  margin-top: 30px; }

#primeraEtapa {
  padding: 40px 0;
  display: flex; }

#yel {
  background-color: #fcdd68; }

.icon-menu {
  color: #fcdd68; }

.amarillo {
  color: #ffdd68; }

#segundaEtapa {
  display: flex;
  padding: 40px 0px;
  background-color: #fcdd68; }

#foto {
  border: 6px solid #fcdd68;
  border-radius: 200px;
  margin: auto 0px auto 5%;
  box-sizing: border-box;
  min-width: 150px;
  min-height: 150px;
  width: 250px;
  height: 250px;
  background-position-y: center;
  background-size: contain;
  background-repeat: no-repeat;
  box-shadow: -2px 2px 2px #555;
  background-image: url("https://media-exp1.licdn.com/dms/image/C4E03AQGHSTdgOSNW6A/profile-displayphoto-shrink_800_800/0/1633399057897?e=2147483647&v=beta&t=esh6w7vg9OKLQfleq9pXg8-e4x1NpADzcEUemuJlWf4"); }

#foto2 {
  border: 6px solid #fff;
  border-radius: 200px;
  margin: auto 5% auto 0;
  box-sizing: border-box;
  min-width: 150px;
  min-height: 150px;
  width: 250px;
  height: 250px;
  box-shadow: -2px 2px 3px #555; }

#foto2:hover {
  border: 5px solid #fff;
  box-shadow: -3px 3px 3px #555; }

#foto:hover {
  border: 5px solid #fcdd68;
  box-shadow: -3px 3px 2px #555; }

.after {
  margin: auto; }

#text {
  width: 65%; }

.flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-flow: wrap;
  width: 100%;
  height: auto; }

.flex2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-flow: wrap-reverse;
  width: 100%;
  height: auto; }

.carrusel {
  overflow: hidden;
  width: 80%;
  margin: auto;
  max-width: 120em;
  padding: 2em 0;
  border-radius: 1;
  background: #e0e0e0;
  box-shadow: 1em 1em 2em #bebebe, -1em -1em 2em #ffffff; 
}

.carrusel .grande {
  width: 600%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  border-radius: 1;
  background: #e0e0e0;
  box-shadow: 1em 1em 2em #bebebe, -1em -1em 2em #ffffff;
  padding: 2em 0; 
  transition: all .5s ease;
  transform: translateX(0%);
}

.carrusel .img {
  width: calc(99% / 6);
  border-radius: 1em;
  background: #e0e0e0;
  box-shadow: 1em 1em 2em #bebebe, -1em -1em 2em #ffffff;
  max-width: 400px;
  max-height: 300px;
  min-width: 300px;
  min-height: 200px;
}

.carrusel .puntos {
  margin: 1em 0 0;
  width: 100%;
  padding: .4em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center; 
  list-style: none;
}

.carrusel .punto {
  width: 2em;
  height: 2em;
  margin: 1em 1em 0;
  border-radius: 1em;
  background: #e0e0e0;
  box-shadow: 1em 1em 2em #bebebe, -1em -1em 2em #ffffff; 
}

.carrusel .punto.activo{
  background-color: #ffdd68;
}

#centers2{
  text-align: center;
}

@media screen and (max-width: 993px) {
  #foto {
    margin: 40px 0; }

  #foto2 {
    margin: 40px 0; }

  .flex {
    justify-content: center; }

  .flex2 {
    justify-content: center; }

  #text {
    width: 90%; }

  #centers {
    text-align: center; } }

/*# sourceMappingURL=banner.css.map */
